<div class="card social">
  <li><i class="fa fa-share fa-2x" aria-hidden="true"></i></li>
  <li><i class="fa fa-code-fork fa-2x" aria-hidden="true"></i></li>
  <li><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></li>
  <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
  <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
  <li><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></li>
  <li><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></li>
</div>
