/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
  color: #333;
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.content {
  margin-top: 35px;
}

.card-header {
  padding: 10px;
  background-color: #FFFFFF;
}

.pointer {
  cursor: pointer;
}
